
@{
    ViewBag.Title = "Pending Threads";
}

<table id="threads-table" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col">Actions</th>
            <th scope="col">Favourite</th>
        </tr>
    </thead>
    <tbody>
        <tr id="thread-data-row" style="display:none">
            <td id="author"></td>
            <td><a href="" id="title"></a></td>
            <td id="actions"><button class="btn btn-primary btn-sm approve" data-id="">Approve Thread</button></td>
            <td id="fav"><i class="material-icons" style="font-size:24px;color:red;">favorite</i></td>
        </tr>
    </tbody>
</table>
<h5 id="nothreads" class="text-info p-5" style="display:none">No pending threads!</h5>
@section scripts{
    <script src="~/Scripts/app.admin.pendingthreads.js"></script>
}

