@using InternetBasedDiscussionForum.ViewModels

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Internet based Discussion Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            @if (User.IsInRole(UserRole.Admin))
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/Admin" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Admin/NewTeacher">Add Teacher</a>
                        <a class="dropdown-item" href="/Admin/PendingUsers">Pending Users</a>
                        <a class="dropdown-item" href="/Admin/Index">All Users</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/Admin/ListThreads" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Threads
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/Admin/PendingThreads">Pending Threads</a>
                        <a class="dropdown-item" href="/Admin/Threads">All Threads</a>
                    </div>
                </li>
                @*<li class="nav-item">
                    <a class="nav-link" href="/Admin/ListThreads">Threads</a>
                </li>*@

            }
            @if (User.IsInRole(UserRole.Student) || User.IsInRole(UserRole.Alumni) || User.IsInRole(UserRole.Teacher))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/Thread/Index">Threads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Thread/NewThread">New Thread</a>
                </li>

            }
            <li class="nav-item">
                <a class="nav-link" href="/home/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/contact">Contact</a>
            </li>
        </ul>
        <span class="navbar-text">@Html.Partial("_LoginPartial")</span>
    </div>
</nav>