@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Approval Pending!";
}

<hgroup>
    <h1 class="text-danger">Approval Pending!</h1>
    <h2 class="text-danger">Your account needs to be approved from Admin before it can be accessed.</h2>
</hgroup>
