@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Immentia Police-Foundation PWD<br />
    <abbr title="Phone">P:</abbr>
    03015209451
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:asadtahir.kund@gmail.com">asadtahir.kund@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:asadtahir.kund@gmail.com">asadtahir.kund@gmail.com</a>
</address>